/*body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.inline-block{
  display: inline-block;
}

.block {
  display: block;
}*/

body {
  background-color: white;
}

span {
  margin-right: 10px;
}

img.album-image {
  height: 100px;
  width: 100px;
}

.song-title, .song-artist{
  background-color: green;
  display: inline-block;
}


.songlist-container {
  background-color: red;
  width: 300px;
  overflow: hidden;
}

/*.sidebar{
  position: absolute;
  background-color: red;
  display: inline-block;
  height: 100%;
  left: 0;
  right: 80%;
}

.video-container{
  position: absolute;
  left: 20%;
  right: 0;
  background-color: green;
  display: inline-block;
  height: 100%;

}*/
