@import url(https://fonts.googleapis.com/css?family=Roboto);

/*body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.inline-block{
  display: inline-block;
}

.block {
  display: block;
}*/

html, body {
  background-color: #181818;
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

body > div {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

span {
  margin-right: 10px;
}

img.album-image {
  height: 100px;
  width: 100px;


}

.song-title, .song-artist{
  display: inline-block;
}

.song-title {

  min-width: 100px;
  display: block;
  margin-top: 30px;
}

.song-text-wrapper {

  display: inline-block;
  width: 180px;
  vertical-align: top;
  margin-right: 10px;
  text-align: center;
  height: 105px;

}



.song-wrapper {
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-top: 2px solid black;
  background-color: #282828;
}

.song-wrapper:hover {
  color: green;
  background-color: #333333;
}

.song-wrapper:last-child {
  border-bottom: 2px solid black;
}

.songlist-container {
  text-align: center;
  width: 300px;
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
}

.search-bar{
  margin: 10px;
  font-size: 20px;
}

.song-list-wrapper {
  background-color: #282828;
  height: 100%;
}

/*.sidebar{
  position: absolute;
  background-color: red;
  display: inline-block;
  height: 100%;
  left: 0;
  right: 80%;
}

.video-container{
  position: absolute;
  left: 20%;
  right: 0;
  background-color: green;
  display: inline-block;
  height: 100%;

}*/
.main-content{
  /*background-color: red;*/
  text-align: center;
  margin-top: 150px;
}
